<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FuturesScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FuturesScanner.Properties.Settings>
            <setting name="MyPublicToken" serializeAs="String">
                <value>6d48e39ca68c975685b6968ef6720958</value>
            </setting>
            <setting name="MyAccessToken" serializeAs="String">
                <value>icak2z2teo8anig653nhfz3uz2qsvzxk</value>
            </setting>
            <setting name="MyPublicTokenGenTime" serializeAs="String">
                <value />
            </setting>
            <setting name="MyAccessTokenGenTime" serializeAs="String">
                <value />
            </setting>
        </FuturesScanner.Properties.Settings>
    </userSettings>
</configuration>